<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mocklets.pluto">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="com.mocklets.pluto.ui.PlutoActivity"
            android:label="@string/pluto___library_name"
            android:launchMode="singleTask"
            android:theme="@style/PlutoTheme.NoActionBar" />
    </application>

</manifest>