<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <activity
            android:name=".ui.selector.SelectorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/PlutoTheme.Selector" />
        <activity
            android:name=".ui.container.PlutoActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/PlutoContainerTheme"
            android:windowSoftInputMode="stateUnspecified|adjustResize" />
        <activity
            android:name=".tool.modules.ruler.RulerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/PlutoContainerTheme" />

        <provider
            android:name=".core.PlutoFileProvider"
            android:authorities="pluto___${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pluto___file_provider_paths" />
        </provider>
    </application>

</manifest>