<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluto.tools">

    <application>
        <activity
            android:name=".modules.ruler.RulerActivity"
            android:exported="false"
            android:theme="@style/PlutoToolRulerTheme" />
    </application>

</manifest>