<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mocklets.pluto">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".ui.PlutoBaseActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/PlutoTheme.NoActionBar" />
<!--        <activity-->
<!--            android:name=".ui.PlutoActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/PlutoTheme.NoActionBar" />-->

        <provider
            android:name=".PlutoFileProvider"
            android:authorities="pluto___${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pluto___file_provider_paths" />
        </provider>
    </application>

</manifest>